video{
  top:0;
  left:0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -999; /*in the background of everything*/
  
}
.report-complaint-parent-container {
  top: 0;
  background-color: rgba(240, 240, 249, 0.5);
  width: 100%;
  height: 5000px;
  z-index: -555;
}
.report-complaint-container {  
    flex: 1;
    margin-left: 400px;
    margin-right: 400px;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". report-complaint-column-container .";
  }
  
  .report-complaint-column-container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "report-complaint-header-container"
      "report-complaint-title-container"
      "report-complaint-report-complaint-description-container"
      "report-complaint-report-button-container";
    grid-area: report-complaint-column-container;
  }
  
  .report-complaint-header-container { grid-area: report-complaint-header-container; }
  
  .report-complaint-title-container { grid-area: report-complaint-title-container; }
  
  .report-complaint-report-complaint-description-container { grid-area: report-complaint-report-complaint-description-container; }
  
  .report-complaint-report-button-container { grid-area: report-complaint-report-button-container; }
  